NimbusRatingDBService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. -->
<definitions targetNamespace="http://Nimbus_Rating_DB/" name="Nimbus_Rating_DBService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://Nimbus_Rating_DB/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://Nimbus_Rating_DB/" schemaLocation="NimbusRatingDBService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getCount">
    <part name="parameters" element="tns:getCount"/>
  </message>
  <message name="getCountResponse">
    <part name="parameters" element="tns:getCountResponse"/>
  </message>
  <message name="isWebServiceRunning">
    <part name="parameters" element="tns:isWebServiceRunning"/>
  </message>
  <message name="isWebServiceRunningResponse">
    <part name="parameters" element="tns:isWebServiceRunningResponse"/>
  </message>
  <message name="updateBillId">
    <part name="parameters" element="tns:updateBillId"/>
  </message>
  <message name="updateBillIdResponse">
    <part name="parameters" element="tns:updateBillIdResponse"/>
  </message>
  <message name="getCategoryInfoByType">
    <part name="parameters" element="tns:getCategoryInfoByType"/>
  </message>
  <message name="getCategoryInfoByTypeResponse">
    <part name="parameters" element="tns:getCategoryInfoByTypeResponse"/>
  </message>
  <portType name="Nimbus_Rating_DB">
    <operation name="getCount">
      <input wsam:Action="http://Nimbus_Rating_DB/Nimbus_Rating_DB/getCountRequest" message="tns:getCount"/>
      <output wsam:Action="http://Nimbus_Rating_DB/Nimbus_Rating_DB/getCountResponse" message="tns:getCountResponse"/>
    </operation>
    <operation name="isWebServiceRunning">
      <input wsam:Action="http://Nimbus_Rating_DB/Nimbus_Rating_DB/isWebServiceRunningRequest" message="tns:isWebServiceRunning"/>
      <output wsam:Action="http://Nimbus_Rating_DB/Nimbus_Rating_DB/isWebServiceRunningResponse" message="tns:isWebServiceRunningResponse"/>
    </operation>
    <operation name="updateBillId">
      <input wsam:Action="http://Nimbus_Rating_DB/Nimbus_Rating_DB/updateBillIdRequest" message="tns:updateBillId"/>
      <output wsam:Action="http://Nimbus_Rating_DB/Nimbus_Rating_DB/updateBillIdResponse" message="tns:updateBillIdResponse"/>
    </operation>
    <operation name="getCategoryInfoByType">
      <input wsam:Action="http://Nimbus_Rating_DB/Nimbus_Rating_DB/getCategoryInfoByTypeRequest" message="tns:getCategoryInfoByType"/>
      <output wsam:Action="http://Nimbus_Rating_DB/Nimbus_Rating_DB/getCategoryInfoByTypeResponse" message="tns:getCategoryInfoByTypeResponse"/>
    </operation>
  </portType>
  <binding name="Nimbus_Rating_DBPortBinding" type="tns:Nimbus_Rating_DB">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getCount">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="isWebServiceRunning">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateBillId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCategoryInfoByType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Nimbus_Rating_DBService">
    <port name="Nimbus_Rating_DBPort" binding="tns:Nimbus_Rating_DBPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

