Nimbus_Rating_Update_DB/src/java/META-INF/wsit-Nimbus_Rating_DB.Nimbus_Rating_DB.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="RejectionHandlerService" targetNamespace="http://openRateDb/" xmlns:tns="http://openRateDb/" 
 >
    <message name="getCount"/>
    <message name="getCountResponse"/>
    <message name="getCategoryInfoByType"/>
    <message name="getCategoryInfoByTypeResponse"/>
    <message name="updateBillId"/>
    <message name="updateBillIdResponse"/>
    <portType name="RejectionHandler">
        <operation name="getCount">
            <input message="tns:getCount"/>
            <output message="tns:getCountResponse"/>
        </operation>
        <operation name="getCategoryInfoByType">
            <input message="tns:getCategoryInfoByType"/>
            <output message="tns:getCategoryInfoByTypeResponse"/>
        </operation>
        <operation name="updateBillId">
            <input message="tns:updateBillId"/>
            <output message="tns:updateBillIdResponse"/>
        </operation>
    </portType>
    <binding name="RejectionHandlerPortBinding" type="tns:RejectionHandler">
        <operation name="getCount">
            <input/>
            <output/>
        </operation>
        <operation name="getCategoryInfoByType">
            <input/>
            <output/>
        </operation>
        <operation name="updateBillId">
            <input/>
            <output/>
        </operation>
    </binding>
    <service name="RejectionHandlerService">
        <port name="RejectionHandlerPort" binding="tns:RejectionHandlerPortBinding"/>
    </service>
</definitions>
